.cartview__display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 50px;
    color: red;
    height: 100%;
    margin-bottom: 30px;
}

.grid__banner {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 10% 10% 15% 10% 5%;
    padding: 10px 0px;
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px rgba(192, 192, 192, 0.4)
}

.banner__product {
    padding: 0px 10px;
    text-align: left;
}

/* .total__product{
    display: grid;
    grid-template-columns:50%;
} */
.grid__itemlist {
    width: 99%;
    padding: 0px;
    margin: 0px;
    border-left: 2px solid rgb(95, 95, 95);
    /*background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid blue*/
}

.itemlist__item {
    /*display: flex;*/
    display: grid;
    grid-template-columns: 50% 10% 10% 15% 10% 5%;
    grid-template-rows: auto;
    align-items: center;
    padding-left: 3px;
    /*margin-bottom: 25px;*/
    list-style-type: none;
    /*border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);*/
    /*border-top: 0.5px solid gray;*/
    /*border-left: 0.5px solid rgba(255, 255, 255, 0.5);
    border-left: 0.5px solid white;*/
    box-shadow: 0px 0px 2px gray;
}

.data__main {
    height: 70%;
    width: 63%;
    padding: 10px;
    padding-right: 5px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 2px solid white;
}

.data__main h2, .data__main h3 {
    margin-left: -10px;
    color: black;
    background-color: white;
}

.data__main h2 {
    margin-bottom: 10px;
    padding: 5px 5px;
    box-shadow: 8px 5px 0px gray;
}

.data__main h3 {
    padding: 2px 5px;
}

.data__main p {
    margin: 8px 0px;
}

.item__edit,
.item__pricee,
.item__quantity,
.item__subtotal,
.item__remove {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(233, 145, 145, 0.2);
    border-right: 1px solid gray;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    box-shadow: -1.5px -0px 1px rgba(192, 192, 192, 0.075) inset;
}

.controls__total {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-right: 1px solid white;

}
.total__row {
    width: 81.5%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    padding-left: 30px;
    /*border-bottom: 1px groove white;*/
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px inset;
}
