.itemDetailStyle{
    border:blue solid 1px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    padding-left: 150px;
}

.itemDetailStyle p{
    font-size: 18px;
    border: 1px solid green;
    padding-left: 40px;
}

.itemDetailStyle img{
    max-height: 600px;
}

h2{
    text-align:center;
}