.countStyle{
    /* position: absolute;
    width: 10px;
    height: 15px;
    margin: 0 auto;
    left: 0;
    right: 0; */
    display:flex;
    margin-bottom: 20px;
}

.countStyle button{
    margin-left:25px;
}    

.texto-en-boton{
    margin-left: 20px;
    margin-top: 5px;
}

.contadorLleno{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%) translateY(-50%);
}